@page "/createGame"

<PageTitle>Skapa match</PageTitle>

<h1>Mitt spel</h1>

<div class="create-game-container">
    <label>Namn på spel</label>
    <input class="game" 
           @bind="game" 
           placeholder="Skriv in namnet på din sport/ditt spel här" />
    
    <label>Startpoäng för spelare</label>
    <input class="starting-points" 
           @bind="startingPoints" />
    
    <label >Vad är målet för spelet?</label>
    <select class="order-by-points" @bind="orderByPoints">
        <option value="max">Få så många poäng som möjligt</option>
        <option value="min">Få så några poäng som möjligt</option>
    </select>
    
</div>

<button class="create-game-button" @onclick="CreateNewGame">Skapa match</button>

@code {

    string game = "";
    int startingPoints = 0; //sätter en default till 0
    string orderByPoints = "max"; //sätter default till "max"
    
    Guid id = Guid.NewGuid(); //denna logik bör ligga på servern?
    //var url = $"/nånting/id"; - när vi bestämt hur vi ska göra med namngivning av sidor
    
    void CreateNewGame()
    {
        //TODO: Skriv logik för att skapa ny match
        
        //Nav.NavigateTo(url) --navigera till den url som skapats
    }
}
