@page "/"
@using Shared
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Skapa match</PageTitle>

<h1>Mitt spel</h1>

<div class="create-game-container">
    <label>Namn på spel</label>
    <input class="game-name" 
           @bind="_gameName" 
           placeholder="Skriv in namnet på din sport/ditt spel här" />
    
    <label>Startpoäng för spelare</label>
    <input class="starting-points" 
           @bind="_startScore" />
    
    <label>Vad är målet för spelet?</label>
    <InputSelect class="order-by-points" @bind-Value="_highScoreWins">
        <option value="true">Få så många poäng som möjligt</option>
        <option value="false">Få så några poäng som möjligt</option>
    </InputSelect>
    
    <label>Max antal spelare</label>
    <input
        class="max-players"
        @bind="_maxPlayers"/>
    
    @if (_playerNames.Count >= _maxPlayers)
    {
        <p>Max antal spelare är tillagda!</p>
    }
    
    <label>Lägg till spelare</label>
    <input class="player"
           @bind="_player"
           @onkeyup="HandleKey"
           disabled="@(_playerNames.Count >= _maxPlayers)"/>
    <button
        class="add-player-button"
        @onclick="AddPlayer"
        disabled="@(_playerNames.Count >= _maxPlayers)">Lägg till</button>
    
    <ul>
        @foreach (var name in _playerNames)
        {
            <li>@name</li>
        }
    </ul>
    
    <p>Kryssa i rutan om du vill spärra möjlighet att lägga till fler spelare när matchen startats</p>
    <InputCheckbox @bind-value="_playersLocked" disabled="@(_playerNames.Count <= 0)"></InputCheckbox>
</div>

<button class="create-game-button" @onclick="CreateNewGame">Skapa match</button>

@code {

    string _gameName = "";
    int _startScore;
    bool _highScoreWins = true;
    string _player = "";
    readonly List<string> _playerNames = [];
    int _maxPlayers = 4;
    bool _playersLocked;
    
    void AddPlayer()
    {
        if (_playerNames.Count >= _maxPlayers)
        {
            return;
        }
        if (!string.IsNullOrWhiteSpace(_player))
        {
            _playerNames.Add(_player);
            _player = "";
        }
    }

    async Task CreateNewGame()
    {
        var game = new MatchRequestDto
        {
            GameName = _gameName,
            HighScoreWins = _highScoreWins,
            MaxPlayers = _maxPlayers,
            PlayersLocked = _playersLocked,
            StartScore = _startScore,
            PlayerNames = _playerNames
        };

        var response = await Http.PostAsJsonAsync("api/match", game);

        if (response.IsSuccessStatusCode)
        {
            var createdGame = await response.Content.ReadFromJsonAsync<MatchResponseDto>();
            
            if (createdGame != null)
            {
                NavManager.NavigateTo(createdGame.Url);
            }
            else
            {
                NavManager.NavigateTo("/");
            }
        }
    }

    void HandleKey(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            AddPlayer();
        }
    }
}
