@page "/"
@inject NavigationManager NavManager

<PageTitle>Startsida</PageTitle>

<h1 class="home-title">Välkommen till Poängräknaren</h1>

<div class="intro-text-container">
    <section>
        <p>
            Poängräknaren är din bästa vän för att hålla koll på poängställning under din match, din after work-aktivitet,
            femkampen på släktträffen eller när du spelar kort med vänner. 
        </p>
        <p>
            Skapa en match via menyn till vänster och välj vilka som ska delta och hur ni ska räkna poäng under aktiviteten.
            Skicka länken till matchen till de som deltar och ni är redo att köra!
        </p>
    </section>
</div>